<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Projeto</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js"></link>
</head>
<body>

	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Projetos</strong>
		</div>

		<div class="panel-body">
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Identificação</th>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Local</th>
							<th>Data de Início</th>
							<th>Data de Conclusão</th>
							<th>Status</th>
							<th>Tipo</th>
							<th>Cliente</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="projeto : ${projetos}">
							<td th:text="${projeto.projetoId}"></td>
							<td th:text="${projeto.nome}"></td>
							<td th:text="${projeto.descricao}"></td>
							<td th:text="${projeto.local}"></td>
							<td th:text="${projeto.dataInicio}"></td>
							<td th:text="${projeto.dataFim}"></td>
							<td th:text="${projeto.status}"></td>
							<td th:text="${projeto.tipo}"></td>
							<td th:text="${projeto.cliente}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-primary"
										th:href="@{/projeto/altera/{projetoId}(projetoId=${projeto.projetoId})}">Alterar</a>
									<a class="delete btn btn-sm btn-danger"
										th:href="@{/projeto/exclui/{projetoId}(projetoId=${projeto.projetoId})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer">
				<a class="btn btn-sm btn-success" th:href="@{/projeto/adiciona}">Adicionar</a>
			</div>
		</div>
	</div>
</body>
</html>