<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Editar Tipo de Projeto</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="panel-heading" align="center">
				<strong>Editar Tipo de Projeto</strong>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" th:object="${projetoTipo}" th:action="@{/projetotipo/altera}" method="POST"  style="margim: 10px;">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<input type="hidden" class="form-control input-sm" id="projetoTipoId" th:field="*{projetoTipoId}"/>
							</div>
							
							<div class="form-group row">
								<label>Descrição</label>
								<input type="text" class="form-control input-sm" id="descricao" th:field="*{descricao}"/>
							</div>
											
						</fieldset>
					</div>
					<div align="center">
						<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
						<a th:href="@{/projetotipo/lista}" class="btn btn-sm btn-default">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>