<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Login</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="panel-heading" align="center">
				<strong>Login</strong>
			</div>
			<div class="panel-body">
				<div th:if="${mensagem}" th:text="${mensagem}" th:class="${'alert ' + alertClass}"></div>
				<form class="form-horizontal" th:object="${colaborador}" th:action="@{/colaborador/login}" method="POST"  style="margim: 10px;">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<label>E-mail</label>
								<input type="email" class="form-control input-sm" th:field="*{usuario}" autofocus="autofocus" placeholder="usuario@dominio.com.br" maxlength="50"/>
								<label>Senha</label>
								<input type="password" class="form-control input-sm" th:field="*{senha}" autofocus="autofocus" placeholder="senhaforte" maxlength="100"/>
							</div>					
						</fieldset>
					</div>
					<div align="center">
						<button type="submit" class="btn btn-sm btn-primary">Login</button>
						<!-- <a th:href="@{/usuario/esquecisenha}" class="btn btn-sm btn-default">Esqueci a senha</a> -->
					</div>
				</form>
			</div>
		</div>
	</body>
</html>

</html>