<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Cadastro de Ordens de Serviço</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="panel-heading" align="center">
				<strong>Cadastro de Ordens de Serviço</strong>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" th:object="${ordemServico}" th:action="@{/ordemservico/insere}" method="POST"  style="margim: 10px;">
					<div class="form-group">
						<fieldset>
							<div class="form-group row">
								<label>Descrição</label>
								<input type="text" class="form-control input-sm" th:field="*{descricao}" autofocus="autofocus" placeholder="Descrição da OS" maxlength="100"/>
								<label>Local</label>
								<input type="text" class="form-control input-sm" th:field="*{local}" autofocus="autofocus" placeholder="Local de Execução" maxlength="100"/>
								<label>Data de Início</label>
								<input type="date" class="form-control input-sm" th:field="*{dataInicio}" autofocus="autofocus"  maxlength="100"/>
								<label>Data de Término</label>
								<input type="date" class="form-control input-sm" th:field="*{dataFim}" autofocus="autofocus"  maxlength="100"/>
								<!-- <select class="custom-select" th:field="*{colaboradores}">
									<option value="">Selecione o Responsável</option>
									<option th:each="colaborador: ${colaboradores}" th:value="${colaborador.colaboradorId}" th:text="${colaborador.nome} ${colaborador.sobrenome}"></option>
								</select> -->
							</div>					
						</fieldset>
					</div>
					<div align="center">
						<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
						<a th:href="@{/ordemservico/lista}" class="btn btn-sm btn-default">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>